<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <title>{ifset title}{include title|stripHtml} | {/ifset}PHP News</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" n:href="Homepage:">
        3Chromatic
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item {if $this->getParameter('presenter')->name === 'Article' && !in_array($this->getParameter('presenter')->action, ['create', 'administration', 'edit'])}active{/if}">
                <a class="nav-link" n:href="Article:">Articles</a>
            </li>
            <li class="nav-item {if $this->getParameter('presenter')->name === 'Category'}active{/if}">
                <a class="nav-link" n:href="Category:">Categories</a>
            </li>
            <li class="nav-item {if $this->getParameter('presenter')->name === 'Author'}active{/if}">
                <a class="nav-link" n:href="Author:">Authors</a>
            </li>
            {if $user->isLoggedIn()}
                <li class="nav-item {if $this->getParameter('presenter')->name === 'Article' && in_array($this->getParameter('presenter')->action, ['edit', 'administration'])}active{/if}">
                    <a class="nav-link" n:href="Article:administration">Article Administration</a>
                </li>
                <li class="nav-item {if $this->getParameter('presenter')->name === 'Article' && $this->getParameter('presenter')->action === 'create'}active{/if}">
                    <a class="nav-link" n:href="Article:create">Add Article</a>
                </li>
            {/if}
        </ul>
    </div>
    {if $user->isLoggedIn()}
        <a class="edit-btn" n:href="Base:logout">Log out</a>
    {else}
        {control loginForm}
    {/if}
</nav>
<div class="container">
    <div n:foreach="$flashes as $flash" class="alert alert-light">{$flash->message}</div>
</div>
{include content}

{block scripts}
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
{/block}
</body>
</html>
