{define simpleForm, $formName}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <div class="gray-box">
                    {control $formName . 'Form'}
                </div>
            </div>
        </div>
    </div>
{/define}