{block content}
<div class="container">
    <div class="row">
        <div id="welcome" class="col-sm-12">
            <h1>Welcome to 3Chromatic News</h1>
            <a n:href="Article:">Start browsing our newest articles <i class="fa fa-chevron-right"></i></a>
        </div>
    </div>
</div>
