<div class="custom-form">
    <h1>{$header}</h1>
    {form form}
        <div class="row">
            <div class="col-sm-12 form-label">
                {label title}
            </div>
            <div class="col-sm-12 form-input">
                {input title}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-label">
                {label short}
            </div>
            <div class="col-sm-12 form-input">
                {input short}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-label">
                {label text}
            </div>
            <div class="col-sm-12 form-input">
                {input text}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-label">
                {label author_id}
            </div>
            <div class="col-sm-6 form-label">
                {label category_id}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-input">
                {input author_id}
            </div>
            <div class="col-sm-6 form-input">
                {input category_id}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-label">
                {input active, class => 'input-checkbox'}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-submit">
                {input submit, class => 'btn btn-light'}
            </div>
        </div>
    {/form}
</div>
<script>
    $(document).ready(function () {
        $('select').select2();
        tinymce.init({
            selector: 'textarea'
        });
    });
</script>