{block content}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading">
                <h1>Articles</h1>
                <h5>Newest news from IT</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div n:foreach="$articles as $article" class="col-md-12 col-sm-6">
            <div class="gray-box">
                <a n:href="Article:detail, $article['id']"><h1>{$article['title']}</h1></a>
                <div class="article-date">
                    {$article['datetime']|date: '%d.%m.%Y %H:%M'}
                    <a n:href="Category:detail, $article['category_id']">{$categories[$article['category_id']]['name']}</a>
                    <a n:href="Author:detail, $article['author_id']">{$authors[$article['author_id']]['name']} {$authors[$article['author_id']]['surname']}</a>
                </div>
                {$article['short']|noescape}
                <a class="edit-btn" n:href="Article:detail, $article['id']">Read more <i
                            class="fa fa-chevron-right"></i></a>
                {if $user->getIdentity()->getId() == $article['author_id']}
                    <a class="edit-btn" n:href="Article:delete, $article['id']">Delete <i class="far fa-trash-alt"></i></a>
                    <a class="edit-btn" n:href="Article:edit, $article['id']">Edit <i class="fas fa-edit"></i></a>
                {/if}
            </div>
        </div>
    </div>
</div>