{block content}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="gray-box">
                <h1>{$article['title']}</h1>
                {$article['short']|noescape}
                <div class="article-date">
                    {$article['datetime']|date: '%d.%m.%Y %H:%M'}
                    <a n:href="Category:detail, $article['category_id']">{$categories[$article['category_id']]['name']}</a>
                    <a n:href="Author:detail, $article['author_id']">{$authors[$article['author_id']]['name']} {$authors[$article['author_id']]['surname']}</a>
                </div>
                <div class="article-text">{$article['text']|noescape}</div>
                {if $user->getIdentity()->getId() == $article['author_id']}
                    <a class="edit-btn" n:href="Article:edit, $article['id']">Edit <i class="fas fa-edit"></i></a>
                    <a class="edit-btn" n:href="Article:delete, $article['id']">Delete <i class="far fa-trash-alt"></i></a>
                {/if}
            </div>
        </div>
    </div>
    {if $user->isLoggedIn()}
        <div class="row">
            <div class="col-sm-12">
                <div class="gray-box">
                    {control commentForm}
                </div>
            </div>
        </div>
    {/if}
    <div class="row">
        <div n:foreach="$comments as $comment" class="col-md-12 col-sm-6">
            <div class="gray-box">
                <div class="article-date">
                    {$comment['datetime']|date: '%d.%m.%Y %H:%M'}
                    {$comment['name']}
                    <a href="mailto:{$comment['email']}">{$comment['email']}</a>
                </div>
                {$comment['text']|noescape}
                <a class="edit-btn" n:href="Article:deleteComment, $comment['id']">Delete <i
                            class="far fa-trash-alt"></i></a>
            </div>
        </div>
    </div>
</div>