{form form}
    <div class="form-inline custom-form">
        <div class="form-group form-input">
            <div class="form-input">
                {input email, placeholder => 'Email'}
            </div>
        </div>
        <div class="form-group">
            <div class="form-input ml-2">
                {input password, placeholder => 'Password'}
            </div>
        </div>
        {input submit, class => "edit-btn"}
    </div>
{/form}