{block content}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading">
                <h1>Authors</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a n:href="Author:create" class="white-link">
                Create author
            </a>
        </div>
    </div>
    <div class="row">
        <div n:foreach="$authors as $author" class="col-md-12 col-sm-6">
            <div class="gray-box">
                <a n:href="Author:detail, $author['id']">{$author['name']} {$author['surname']}</a>
                {if $user->getIdentity() && $user->getIdentity()->getId() == $author['id']}
                    <a class="edit-btn" n:href="Author:delete, $author['id']">Delete <i
                                class="far fa-trash-alt"></i></a>
                    <a class="edit-btn" n:href="Author:edit, $author['id']">Edit <i class="fas fa-edit"></i></a>
                {/if}
            </div>
        </div>
    </div>
</div>