{block content}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading">
                <h1>Categories</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a n:href="Category:create" class="white-link">
                Create category
            </a>
        </div>
    </div>
    <div n:snippet="categories" class="row">
        <div n:foreach="$categories as $category" class="col-md-12 col-sm-6">
            <div class="gray-box">
                <a n:href="Category:detail, $category['id']">{$category['name']}</a>
                <a class="edit-btn" n:href="Category:delete, $category['id']">Delete <i
                            class="far fa-trash-alt"></i></a>
                <a class="edit-btn" n:href="Category:edit, $category['id']">Edit <i class="fas fa-edit"></i></a>
            </div>
        </div>
    </div>
</div>