{block content}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading">
                <h1>{$category['name']}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div n:foreach="$articles as $article" class="col-md-12 col-sm-6">
            <div class="gray-box">
                <a n:href="Article:detail, $article['id']"><h1>{$article['title']}</h1></a>
                <div class="article-date">
                    {$article['datetime']|date: '%d.%m.%Y %H:%M'}
                    <a n:href="Author:detail, $article['author_id']">{$authors[$article['author_id']]['name']} {$authors[$article['author_id']]['surname']}</a>
                </div>
                {$article['short']|noescape}
                <a n:href="Article:detail, $article['id']">
                    <p class="read-more">
                        Read more<i class="fa fa-chevron-right"></i>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>