@darkGray: #101314;
@lightGray: #343a40;
.heading {
   border-radius: 3px;
   background: @lightGray;
   padding: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.gray-box {
   border-radius: 3px;
   background: @lightGray;
   overflow: hidden;
   margin-bottom: 20px;
   padding: 20px;
   margin-top: 20px;

   .article-date {
      color: lightgray;
      font-size: 14px;
   }

   .article-text {
      margin: 0;
   }

   a {
      color: inherit;

      &:hover {
         text-decoration: none;
      }
   }

   h1 {
      margin: 0;
   }
}

#welcome {
   padding-top: 50px;
   text-align: center;

   span {
      text-decoration: line-through;
   }

   a {
      color: white;

      &:hover {
         color: white;
         text-decoration: none;
      }
   }
}

body {
   background-color: @darkGray;
   color: white;
}

.white-link {
   background-color: white;
   color: @darkGray;
   border-radius: 3px;
   padding: 5px 10px;

   &:hover {
      text-decoration: none;
      background-color: @lightGray;
      color: white !important;
   }
}

.custom-form {
   .form-label {
      margin-top: 20px;
   }

   .form-input {
      input {
         width: 100%;
         border-radius: 3px;
         border: none;
         padding-left: 3px;
         padding-right: 3px;
      }
   }

   .form-submit {
      margin-top: 20px;
      text-align: center;
   }

   h1 {
      text-align: center;
      padding-bottom: 20px;
   }

   input[type=checkbox] {
      margin-left: 20px;
      float: right;
      margin-top: 8px;
   }
}

.edit-btn {
   background-color: white;
   float: right;
   padding: 1px 10px;
   border-radius: 3px;
   border: none;
   color: @darkGray !important;
   margin-left: 10px;

   &:hover {
      //background-color: darken(white, 20%);
      background-color: @darkGray;
      color: white !important;
   }
}

.alert {
   margin-top: 40px;
   color: @darkGray !important;
}

input {
   outline: none !important;
}

.select2 {
   width: 100% !important;
}

.select2-search {
   background-color: @lightGray;
}

.select2-search input {
   background-color: white;
   border: none !important;

   &:active {
      border: none !important;
   }

   &:focus {
      border: none !important;
   }
}

.select2-results {
   background-color: @darkGray;
   color: white;
}

.select2-results__option--highlighted {
   background-color: @lightGray !important;
}

.select2-container--default {
   .select2-results__option[aria-selected=true] {
      background-color: @lightGray !important;
   }
}

.select2-selection__rendered {
   text-align: center;
}

.tox-tinymce {
   margin-top: 10px;
   margin-bottom: 10px;
}

textarea {
   width: 100%;
   outline: none;
   border-radius: 3px;
}