<div class="custom-form">
    <h1>{$header}</h1>
    {form form}
        <div class="row">
            <div class="col-sm-12 form-label">
                {label name}
            </div>
            <div class="col-sm-12 form-input">
                {input name}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-label">
                {label email}
            </div>
            <div class="col-sm-12 form-input">
                {input email}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-label">
                {label text}
            </div>
            <div class="col-sm-12 form-input">
                {input text}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-submit">
                {input submit, class => 'btn btn-light'}
            </div>
        </div>
    {/form}
</div>