.heading {
    border-radius: 3px;
    background: #343a40;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gray-box {
    border-radius: 3px;
    background: #343a40;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 20px;
}

.gray-box .article-date {
    color: lightgray;
    font-size: 14px;
}

.gray-box .article-text {
    margin: 0;
}

.gray-box a {
    color: inherit;
}

.gray-box a:hover {
    text-decoration: none;
}

.gray-box h1 {
    margin: 0;
}

#welcome {
    padding-top: 50px;
    text-align: center;
}

#welcome span {
    text-decoration: line-through;
}

#welcome a {
    color: white;
}

#welcome a:hover {
    color: white;
    text-decoration: none;
}

body {
    background-color: #101314;
    color: white;
}

.white-link {
    background-color: white;
    color: #101314;
    border-radius: 3px;
    padding: 5px 10px;
}

.white-link:hover {
    text-decoration: none;
    background-color: #343a40;
    color: white !important;
}

.custom-form .form-label {
    margin-top: 20px;
}

.custom-form .form-input input {
    width: 100%;
    border-radius: 3px;
    border: none;
    padding-left: 3px;
    padding-right: 3px;
}

.custom-form .form-submit {
    margin-top: 20px;
    text-align: center;
}

.custom-form h1 {
    text-align: center;
    padding-bottom: 20px;
}

.custom-form input[type=checkbox] {
    margin-left: 20px;
    float: right;
    margin-top: 8px;
}

.edit-btn {
    background-color: white;
    float: right;
    padding: 1px 10px;
    border-radius: 3px;
    border: none;
    color: #101314 !important;
    margin-left: 10px;
}

.edit-btn:hover {
    background-color: #101314;
    color: white !important;
}

.alert {
    margin-top: 40px;
    color: #101314 !important;
}

input {
    outline: none !important;
}

.select2 {
    width: 100% !important;
}

.select2-search {
    background-color: #343a40;
}

.select2-search input {
    background-color: white;
    border: none !important;
}

.select2-search input:active {
    border: none !important;
}

.select2-search input:focus {
    border: none !important;
}

.select2-results {
    background-color: #101314;
    color: white;
}

.select2-results__option--highlighted {
    background-color: #343a40 !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #343a40 !important;
}

.select2-selection__rendered {
    text-align: center;
}

.tox-tinymce {
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    outline: none;
    border-radius: 3px;
}

/*# sourceMappingURL=style.css.map */